<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinyougou.mapper.BrandMapper">

<!--多条件查询品牌-->
	<select id="findAll" resultType="Brand">
		select *from tb_brand
		<where>
			<!--
			判断品牌名称
			where部分不要用'%${name}%'符号取值了,会有sql注入的毛病
			但是用'%#{name}%'又不行,会被当成普通字符串'%?%'
			解决方法使用concat()字符串链接函数,mysql跟Oracle都有的.
			-->
			<if test="name!=null and name !=''">
				name like concat('%',#{name},'%')
			</if>
			<!-- 品牌首字母 -->
			<if test="firstChar!=null and firstChar !=''">
				and first_char=#{firstChar}
			</if>
		</where>
		order by id asc
	</select>

</mapper>