<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pinyougou.mapper.GoodsMapper">
    <select id="findByPage" resultType="map">
        select id,goods_name as goodsName,price,audit_status as auditStatus,
        category1_id as category1Id,category2_id as category2Id,
        category3_id as category3Id,is_marketable as isMarketable
        from tb_goods where is_delete is null
            <if test="sellerId !=null and sellerId!=''">
                and seller_id = #{sellerId}
            </if>
            <if test="goodsName!=null and goodsName!=''">
                and goods_name like concat('%',#{goodsName},'%')
            </if>
            <if test="auditStatus !=null and auditStatus !=''">
                and audit_status=#{auditStatus}
            </if>
        order by id ASC
    </select>
    <!--
    以下这几个方法都可以优化掉的
    基本都是一样的只有列名不一样,这时候可以把列名动态设置成占位符,
    在mapper接口方法中用@Param这里用${参数的值}取出来代替表名或者列名
    这样才是${}的最正确用法.以下几个方法太过臃肿了,写成一个就好
    -->
    <update id="upStatusById">
        update tb_goods set audit_status =#{auditStatus} where id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="upIsDeleteById">
        update tb_goods set is_delete=#{isDelete} where id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="upMarketable">
        update tb_goods set is_marketable=#{isMarketable} where id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        and audit_status='1'
    </update>
</mapper>